.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nz-divider::after,
      nz-divider::before {
        border-color: #7cb305 !important;
      }

      .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color 0.3s;
      }

      .trigger:hover {
        color: #1890ff;
      }

      .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
      }

      nz-header {
        background: #fff;
        padding: 0;
      }

      nz-content {
        margin: 0 16px;
      }

      nz-breadcrumb {
        margin: 16px 0;
      }

      .inner-content {
        padding: 24px;
        background: #fff;
        min-height: 360px;
      }

      nz-footer {
        text-align: center;
      }

      nz-layout{
        height: calc(100vh - 0px);
        overflow-y: hidden;
      }

        nz-sider {
            height: calc(100vh - 0px);
            overflow-y: hidden;
        }

    .my-submenu {
        height: calc(90vh - 5px);
            overflow-y: auto;
    }

    .footer-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.userHeader{
    display: flex;
  justify-content: space-between;

}

.dashboard-container{
  height: calc(90vh - 0px);
  overflow-y: auto;
}