<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" class="my-submenu">
            <li nz-submenu nzPlacement="bottomLeft" nzTitle="bottomLeft">
                <ul>
                    <li nz-menu-group nzTitle="Item 1">
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Item 2">
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu nzTitle="Sub Menu">
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzPlacement="bottomCenter" nzTitle="bottomCenter">
                <ul>
                    <li nz-menu-group nzTitle="Item 1">
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Item 2">
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu nzTitle="Sub Menu">
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzPlacement="bottomRight" nzTitle="bottomRight">
                <ul>
                    <li nz-menu-group nzTitle="Item 1">
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Item 2">
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu nzTitle="Sub Menu">
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzPlacement="topLeft" nzTitle="topLeft">
                <ul>
                    <li nz-menu-group nzTitle="Item 1">
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Item 2">
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu nzTitle="Sub Menu">
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzPlacement="topCenter" nzTitle="topCenter">
                <ul>
                    <li nz-menu-group nzTitle="Item 1">
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Item 2">
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu nzTitle="Sub Menu">
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzPlacement="topRight" nzTitle="topRight">
                <ul>
                    <li nz-menu-group nzTitle="Item 1">
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group nzTitle="Item 2">
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu nzTitle="Sub Menu">
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>

            <div class="userHeader">
                <div>
                    <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                        (click)="isCollapsed = !isCollapsed" />
                    User Panel
                </div>
                <nz-badge [nzCount]="5" style="margin-top: 15px; margin-right: 15px;">
                    <nz-avatar-group>
                        <nz-avatar nzIcon="user"
                            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                        <nz-avatar style="background-color: #f56a00" nzText="U"></nz-avatar>
                        <nz-avatar style="background-color: #fde3cf; color: #f56a00" nzText="+2"></nz-avatar>
                    </nz-avatar-group>
                </nz-badge>
            </div>
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="dashboard-container">
                <nz-steps nzType="navigation" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
                    <nz-steps nzType="navigation" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
                        <nz-step nzTitle="Step 1" [nzStatus]="getStatus(0)"></nz-step>
                        <nz-step nzTitle="Step 2" [nzStatus]="getStatus(1)"></nz-step>
                        <nz-step nzTitle="Step 3" [nzStatus]="getStatus(2)"></nz-step>
                        <nz-step nzTitle="Step 4" [nzStatus]="getStatus(3)"></nz-step>
                    </nz-steps>

                </nz-steps>


                <div class="step-content">
                    <!-- Step 1 data -->
                    <div *ngIf="index === 0">
                        <h2>Step 1 Content</h2>
                        <div class="mb-3 d-flex gap-3">
                            <button nz-button nzType="primary">Primary Button</button>
                            <button nz-button nzType="default">Default Button</button>
                            <button nz-button nzType="dashed">Dashed Button</button>
                            <button nz-button nzType="text">Text Button</button>
                            <a nz-button nzType="link">Link Button</a>
                        </div>
                        <div class="d-flex gap-3 mb-3">
                            <button nz-button nzType="primary" nzShape="circle">
                                <nz-icon nzType="search" />
                            </button>
                            <button nz-button nzType="primary" nzShape="circle">A</button>
                            <button nz-button nzType="primary">
                                <nz-icon nzType="search" />
                                Search
                            </button>
                            <button nz-button nzType="default" nzShape="circle">
                                <nz-icon nzType="search" />
                            </button>
                            <button nz-button nzType="default">
                                <nz-icon nzType="search" />
                                Search
                            </button>
                            <br />
                            <button nz-button nzType="default" nzShape="circle"><nz-icon nzType="search" /></button>
                            <button nz-button nzType="default">
                                <nz-icon nzType="search" />
                                Search
                            </button>
                            <button nz-button nzType="dashed" nzShape="circle"><nz-icon nzType="search" /></button>
                            <button nz-button nzType="dashed">
                                <nz-icon nzType="search" />
                                Search
                            </button>
                        </div>
                        <div class="d-flex gap-3 mb-3">
                            <button nz-button nzType="primary" nzLoading>
                                <nz-icon nzType="poweroff" />
                                Loading
                            </button>
                            <button nz-button nzType="primary" nzSize="small" nzLoading>Loading</button>
                            <br />
                            <button nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne">Click
                                me!</button>
                            <button nz-button nzType="primary" (click)="loadTwo()" [nzLoading]="isLoadingTwo">
                                <nz-icon nzType="poweroff" />
                                Click me!
                            </button>
                            <br />
                            <button nz-button nzLoading nzShape="circle"></button>
                            <button nz-button nzLoading nzType="primary" nzShape="circle"></button>
                        </div>
                        <div>
                            <div class="d-flex gap-3 mb-3">
                                <h4>Without icon tag</h4>
                                <nz-tag nzColor="success">success</nz-tag>
                                <nz-tag nzColor="processing">processing</nz-tag>
                                <nz-tag nzColor="error">error</nz-tag>
                                <nz-tag nzColor="warning">warning</nz-tag>
                                <nz-tag nzColor="default">default</nz-tag>
                            </div>
                            <div class="d-flex gap-3">
                                <h4>With icon tag</h4>
                                <nz-tag nzColor="success">
                                    <nz-icon nzType="check-circle" />
                                    <span>success</span>
                                </nz-tag>
                                <nz-tag nzColor="processing">
                                    <nz-icon nzType="sync" nzSpin />
                                    <span>processing</span>
                                </nz-tag>
                                <nz-tag nzColor="error">
                                    <nz-icon nzType="close-circle" />
                                    <span>error</span>
                                </nz-tag>
                                <nz-tag nzColor="warning">
                                    <nz-icon nzType="exclamation-circle" />
                                    <span>warning</span>
                                </nz-tag>
                                <nz-tag nzColor="default">
                                    <nz-icon nzType="clock-circle" />
                                    <span>default</span>
                                </nz-tag>
                            </div>
                            <div>
                                <nz-progress nzType="circle" [nzPercent]="91"
                                    [nzStrokeColor]="{ '0%': '#108ee9', '50%': '#2db7f5', '100%': '#87d068' }"></nz-progress>
                                <nz-progress nzType="dashboard" [nzPercent]="100"
                                    [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"></nz-progress>
                            </div>
                        </div>
                    </div>

                    <!-- Step 2 data -->
                    <div *ngIf="index === 1">
                        <h2>Step 2 Content</h2>
                        <div class="container">
                            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Please input your username!">
                                        <nz-input-group nzPrefixIcon="user">
                                            <input type="text" nz-input formControlName="username"
                                                placeholder="Username" />
                                        </nz-input-group>

                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-control nzErrorTip="Please input your Password!">
                                        <nz-input-group nzPrefixIcon="lock">
                                            <input type="password" nz-input formControlName="password"
                                                placeholder="Password" />
                                        </nz-input-group>

                                    </nz-form-control>
                                </nz-form-item>
                                <div nz-row class="login-form-margin">
                                    <div nz-col [nzSpan]="12">
                                        <label nz-checkbox formControlName="remember">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <div nz-col [nzSpan]="12">
                                        <a class="login-form-forgot" (click)="showModal()">Forgot password</a>
                                    </div>
                                </div>
                                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log
                                    in</button>
                                Or
                                <a nzType="primary" nz-popconfirm nzPopconfirmTitle="Plese select"
                                    [nzBeforeConfirm]="beforeConfirm" (nzOnConfirm)="confirm()"
                                    (nzOnCancel)="cancel()">register now!</a>
                            </form>

                            <nz-modal [(nzVisible)]="isVisible" nzTitle="Forgot your password"
                                (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                                <ng-container *nzModalContent>
                                    <p>Content one</p>
                                    <p>Content two</p>
                                    <p>Content three</p>
                                </ng-container>
                            </nz-modal>


                        </div>
                    </div>

                    <!-- Step 3 data -->
                    <div *ngIf="index === 2">
                        <h2>Step 3 Content</h2>
                        <div style="background: #ECECEC; padding:30px;" class="d-flex gap-4 flex-wrap">
                            <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Card title"
                                [nzExtra]="extraTemplate">
                                <p>Card content</p>
                                <p>Card content</p>
                                <p>Card content</p>
                            </nz-card>
                            <nz-card nzTitle="Cart Title">
                                <div nz-card-grid>Content</div>
                                <div nz-card-grid>Content</div>
                                <div nz-card-grid>Content</div>
                                <div nz-card-grid>Content</div>
                                <div nz-card-grid>Content</div>
                                <div nz-card-grid>Content</div>
                                <div nz-card-grid>Content</div>
                            </nz-card>
                        </div>
                        <ng-template #extraTemplate>
                            <a>More</a>
                        </ng-template>
                    </div>

                    <!-- Step 4 data -->
                    <div *ngIf="index === 3">
                        <h2>Step 4 Content</h2>
                        <div class="container">
                            <nz-table #headerTable [nzData]="listOfData" [nzPageSize]="50" [nzScroll]="{ y: '235px' }"
                                nzTableLayout="fixed">
                                <thead>
                                    <tr>
                                        @for (column of listOfColumn; track column) {
                                        <th [nzSortFn]="column.compare" [nzSortPriority]="column.priority"
                                            [nzWidth]="column.width ?? null">
                                            {{ column.title }}
                                        </th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (data of headerTable.data; track data) {
                                    <tr>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.age }}</td>
                                        <td>{{ data.address }}</td>
                                    </tr>
                                    }
                                </tbody>
                            </nz-table>

                            <!-- <nz-alert nzType="success" nzMessage="Success Tips"
                                        nzDescription="Detailed description and advices about successful copywriting."
                                        nzShowIcon></nz-alert> -->
                        </div>
                    </div>
                </div>

                <div class="footer-buttons">

                    <button nz-button nzType="default" (click)="prev()" [disabled]="index === 0">
                        Previous
                    </button>

                    @if(index === maxIndex)
                    {
                    <button nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne"
                        [disabled]="labelOfSaveNext==='Saved'">
                        {{labelOfSaveNext}}
                    </button>
                    }
                    @else
                    {
                    <button nz-button nzType="primary" (click)="next()">
                        Next
                    </button>
                    }


                </div>
            </div>
        </nz-content>
        <nz-footer>Ant Design ©{{ date.getFullYear() }} Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>